Chat-Service/Packets/obj/Debug/net6.0/Packets.GeneratedMSBuildEditorConfig.editorconfig
Client/obj/Client.csproj.nuget.g.props
Client/obj/Client.csproj.nuget.dgspec.json
Client/obj/Debug/net6.0/Client.AssemblyInfo.cs
Client/obj/Debug/net6.0/Client.assets.cache
Client/obj/Debug/net6.0/Client.csproj.AssemblyReference.cache
Client/obj/Debug/net6.0/Client.GeneratedMSBuildEditorConfig.editorconfig
Client/obj/Debug/net6.0/Client.GlobalUsings.g.cs
Client/obj/project.nuget.cache
Console/obj/Console.csproj.nuget.dgspec.json
Console/obj/Console.csproj.nuget.g.targets
Console/obj/Console.csproj.nuget.g.props
Console/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Console/obj/Debug/net6.0/Console.AssemblyInfo.cs
Client/obj/project.assets.json
Console/obj/Debug/net6.0/Console.assets.cache
Console/obj/Debug/net6.0/Console.GeneratedMSBuildEditorConfig.editorconfig
Console/obj/Debug/net6.0/Console.GlobalUsings.g.cs
Console/obj/project.nuget.cache
Console/obj/project.assets.json
Packets/obj/Debug/net6.0/Packets.AssemblyInfo.cs
Console/obj/Debug/net6.0/Console.csproj.AssemblyReference.cache
Packets/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Packets/obj/Debug/net6.0/Packets.AssemblyInfoInputs.cache
Packets/obj/Debug/net6.0/Packets.assets.cache
Packets/obj/Debug/net6.0/Packets.csproj.AssemblyReference.cache
Packets/obj/Debug/net6.0/Packets.GlobalUsings.g.cs
Client/obj/Client.csproj.nuget.g.targets
Client/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Client/obj/Debug/net6.0/Client.AssemblyInfoInputs.cache
Console/obj/Debug/net6.0/Console.AssemblyInfoInputs.cache
Packets/obj/Packets.csproj.nuget.dgspec.json
Packets/obj/Packets.csproj.nuget.g.props
Packets/obj/Packets.csproj.nuget.g.targets
Packets/obj/project.assets.json
Packets/obj/project.nuget.cache
Server/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Server/obj/Debug/net6.0/Server.AssemblyInfo.cs
Server/obj/Debug/net6.0/Server.AssemblyInfoInputs.cache
Server/obj/Debug/net6.0/Server.assets.cache
Server/obj/Debug/net6.0/Server.GeneratedMSBuildEditorConfig.editorconfig
Server/obj/Debug/net6.0/Server.GlobalUsings.g.cs
Server/obj/project.assets.json
Server/obj/project.nuget.cache
Server/obj/Server.csproj.nuget.dgspec.json
Server/obj/Server.csproj.nuget.g.props
Server/obj/Server.csproj.nuget.g.targets
Client/bin/Debug/net6.0/Client.deps.json
Client/bin/Debug/net6.0/Client.dll
Client/bin/Debug/net6.0/Client.exe
Client/bin/Debug/net6.0/Client.pdb
Client/bin/Debug/net6.0/Client.runtimeconfig.json
Client/bin/Debug/net6.0/Packets.dll
Client/bin/Debug/net6.0/Packets.pdb
Client/bin/Debug/net6.0/ref/Client.dll
Client/obj/Debug/net6.0/apphost.exe
Client/obj/Debug/net6.0/Client.csproj.CopyComplete
Client/obj/Debug/net6.0/Client.csproj.CoreCompileInputs.cache
Client/obj/Debug/net6.0/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/net6.0/Client.dll
Client/obj/Debug/net6.0/Client.genruntimeconfig.cache
Client/obj/Debug/net6.0/Client.pdb
Client/obj/Debug/net6.0/ref/Client.dll
Packets/obj/Debug/net6.0/Packets.csproj.CoreCompileInputs.cache
Packets/obj/Debug/net6.0/Packets.csproj.FileListAbsolute.txt
Packets/obj/Debug/net6.0/Packets.dll
Packets/obj/Debug/net6.0/Packets.pdb
Packets/obj/Debug/net6.0/ref/Packets.dll
Packets/bin/Debug/net6.0/ref/Packets.dll
Packets/bin/Debug/net6.0/Packets.pdb
Packets/bin/Debug/net6.0/Packets.dll
Packets/bin/Debug/net6.0/Packets.deps.json
Client/bin/Debug/net6.0/Console.dll
Client/bin/Debug/net6.0/Console.pdb
Console/bin/Debug/net6.0/Console.deps.json
Console/bin/Debug/net6.0/Console.dll
Console/bin/Debug/net6.0/Console.pdb
Console/bin/Debug/net6.0/ref/Console.dll
Console/obj/Debug/net6.0/Console.csproj.CoreCompileInputs.cache
Console/obj/Debug/net6.0/Console.csproj.FileListAbsolute.txt
Console/obj/Debug/net6.0/Console.dll
Console/obj/Debug/net6.0/Console.pdb
Console/obj/Debug/net6.0/ref/Console.dll
Server/bin/Debug/net6.0/Console.dll
Server/bin/Debug/net6.0/Console.pdb
Server/bin/Debug/net6.0/Packets.dll
Server/bin/Debug/net6.0/Packets.pdb
Server/bin/Debug/net6.0/ref/Server.dll
Server/bin/Debug/net6.0/Server.deps.json
Server/bin/Debug/net6.0/Server.dll
Server/bin/Debug/net6.0/Server.exe
Server/bin/Debug/net6.0/Server.pdb
Server/bin/Debug/net6.0/Server.runtimeconfig.json
Server/obj/Debug/net6.0/apphost.exe
Server/obj/Debug/net6.0/ref/Server.dll
Server/obj/Debug/net6.0/Server.csproj.AssemblyReference.cache
Server/obj/Debug/net6.0/Server.csproj.CopyComplete
Server/obj/Debug/net6.0/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/net6.0/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/net6.0/Server.dll
Server/obj/Debug/net6.0/Server.genruntimeconfig.cache
Server/obj/Debug/net6.0/Server.pdb
Packets/obj/Debug/net6.0/Packets.GeneratedMSBuildEditorConfig.editorconfig
Chat Service/.vs/Chat Service/DesignTimeBuild/.dtbcache.v2
Server/.vs/Server/DesignTimeBuild/.dtbcache.v2
Server/.vs/Server/v17/.futdcache.v1
Server/.vs/Server/v17/.suo
Server/bin/Debug/net6.0/Server Scripts.dll
Server/bin/Debug/net6.0/Server Scripts.pdb
